.highlighted {
    position: static; /* Remove the absolute positioning */
    transform: translate(0, 0); /* Remove the translation */
    z-index: 1; /* Maintain the z-index for layering */
    opacity: 1;
  }
  
  .darkened {
    position: relative; /* Change to relative positioning */
    left: calc(50% + (index * 10%));
    top: 0;
    transform: scale(0.75); /* Scale down the darkened images */
    opacity: 0.5;
    z-index: 0;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }