.card {
    /* Your existing card styles */
    /* ... */
    /* Set initial box shadow and transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Increase shadow and transform on hover */
  .card.hovered {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px); /* Adjust to move the card slightly upward */
  }

  .custom-montserrat-font {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Ensure Montserrat is accessible */
  }